.mark{
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mark .mark__form{
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 5px;
    margin-right: 5px;
}

.mark__form label{
    cursor: pointer;
    padding: 5px 10px;
    font-size: 13px;
    /* color: #fff; */
    user-select: none;
}
.mark__form .present{
    background-color: green;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 9px 1px rgba(0,0,0,0.2);
}
.mark__form .absent{
    background-color: red;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 9px 1px rgba(0,0,0,0.2);
}
.mark__form a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(22, 83, 145);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 13px;
    box-shadow: 0 0 9px 1px rgba(0,0,0,0.2);

}
.mark__form a:hover{
    background-color: rgb(13, 51, 88);

}
.mark button{
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: dodgerblue;
    color: #fff;
    box-shadow: 0 0 9px 1px rgba(0,0,0,0.2);
border-radius: 3px;
}
.mark button:hover{
    background-color: rgb(23, 121, 219);
cursor: pointer;
}
.mark__form .show__att{
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
}