.home__page{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.home__contents{
    flex-basis: 82%;
}
.contents{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    
}
.contents .body{
    flex-basis: 75%;
    margin-left: 10px;
}