.contents__leave .leave__header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.leave__header .leave__status{
    background-color: rgb(235, 107, 107);
    padding: 5px 10px;
    margin-left: 20px;
    border-radius: 4px;
    color: #fff;
    
}
.contents__leave .backbtn{
    align-self: flex-end;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 9px 1px rgba(0,0,0,0.3);
    transition: .2s;
}
.contents__leave .backbtn:hover{
    background-color: rgb(3, 1, 29);
    cursor: pointer;
}